#smart-input-transfer {
    position: absolute;
    width: 40%;
    height: 240px;
    top: calc(50% - 120px);
    left: calc(50% - 20%);
    transition: all 0.18s;
}

#smart-input-transfer > #smart-input-transfer-title {
    font-weight: bold;
    font-family: 'BoldFont';
}

#smart-input-transfer > textarea {
    outline: none;
    width: calc(100% - 32px);
    height: calc(100% - 20px - 68px);
    resize: none;
}

#smart-input-transfer > #smart-input-transfer-desc {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 14px;
}

#smart-input-transfer > #smart-input-transfer-desc > span {
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
}

.show {
    opacity: 1;
}
.hide {
    opacity: 0;
}
