#enable-select-list-root {
    position: relative;
}

#enable-select-list-root > #enable-select-input {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    left: 0;
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
}

#enable-select-list-root > #enable-select-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#enable-select-list-root > #enable-select-list > li {
    cursor: pointer;
}

#enable-select-list-root > #enable-select-list > .selected {
    background-color: #70a59742 !important;
    color: #333;
}
