#msg-list {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#msg-list::-webkit-scrollbar {
    width: 0;
}

#footer {
    z-index: 100;
    text-align: center;
    font-family: 'MainFont';
}

#msg-input {
    width: calc(100% - 36px);
    outline: none;
    transition: all 0.18s;
    font-family: 'MainFont';
    cursor: text;
}

#btn-send {
    width: 68px;
    margin-left: 12px;
    transition: all 0.36s;
    border: 2px solid #70a5978a;
}

#btn-send:hover {
    background-color: #00b685;
}

#float-btm-about {
    position: absolute;
    border-radius: 90px;
    width: 45px;
    height: 45px;
    outline: none;
    border: 2px solid #009970;
    background-color: #00b685;
    transition: all 0.18s;
    bottom: 126px;
    right: 20px;
}

#float-btm-about:hover {
    background-color: #00926b;
    box-shadow: 0 0 16px #b2fae7;
}
