#smart-input-hit {
    bottom: 86px;
    width: 100%;
    left: 0px;
    position: absolute;
    transition: all 0.18s;
}

#smart-input-hit > #smart-input-hit-title {
    font-family: 'BoldFont';
    font-weight: bold;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
    visibility: hidden;
}
